@font-face {
    font-family: 'GreatVibes';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
    font-display: swap;
}

.ogpc-form {
    #customer_details {
        display: flex;
        border: 11px solid #d9d9d9;
        border-image: url('../images/border.png') 12 round;
        border-image-width: 11px;
        background-color: #FFFFFF;

        .col-1,
        .col-2 {
            width: 100%;
            max-width: 100%;

            h3 {
                margin: 0;
                font-family: "GreatVibes";
                font-size: 240%;
                margin-top: 14px;
                margin: 0;
                font-weight: 400;
                color: #5ba403;
                word-spacing: 3px;
                margin-bottom: 15px;
            }

            .woocommerce-input-wrapper {
                display: flex;

                input, select {
                    width: 100%;
                    height: 30px;
                    outline: none;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid #b3b3b3;
                    border-radius: 0.25rem;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                    padding-right: 25px;
                    padding: 3px 10px;

                    &:focus {
                        border: 1px solid #87298f;
                    }
                }
            }
        }

        .col-1 {
            padding: 30px 30px;
        }
        .col-2 {
            background-color: #fff1fb;
            padding: 30px 30px;
        }
    }

    #ship-to-different-address {
        display: none;
    }

    .woocommerce-checkout-review-order {
        ul.methods {
            list-style: none;
            padding: 0;
        }
    }

    table.shop_table.woocommerce-checkout-review-order-table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

    td, th {
        padding: 0.5em;
        border: 1px solid #767676;
        word-break: break-all;
        word-break: normal;
    }
}

.wc-proceed-to-checkout {
    width: auto;
    display: initial;
    margin-right: 20px;
}

.ogpc-order-gift-btn .checkout-button {
    border: 2px solid;
}

form.checkout_coupon.woocommerce-form-coupon input {
    width: 100%;
    height: 30px;
    outline: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b3b3b3;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-right: 25px;
    padding: 3px 10px;

    &:focus {
        border: 1px solid #87298f;
    }
}
